fastapi
uvicorn[standard]
python-dotenv
langgraph
langchain
langchain-google-genai
langchain-huggingface
langchain-qdrant
tavily-python
qdrant-client
sentence-transformers
google-generativeai
pydantic
